{% extends 'base.html' %}
{% block title %} Sudoku {% endblock %}
{% block stylesheet %}<link rel="stylesheet" type='text/css' href='{{ url_for("static", filename="styles/styles.css") }}'/>{% endblock %}
{% block content %}
  <section id="centered">
      <h1> Manganime! </h1>
      <h2> Bridging the gap from manga to anime </h2>

      <label for="upload">Uplad your comics!:</label>
      <input type="file" id="upload" name="upload" accept=".jpg, .jpeg, .png" multiple/>
      <h1 id="loading"> Loading... </h1>


      <button id="next"> NEXT </button>
      <button id="prev"> PREV </button>
      
      <img src='' id="comic_page">
  </section>
{% endblock %}
