{% extends 'base.html' %}
{% block title %} Sudoku {% endblock %}
{% block stylesheet %}<link rel="stylesheet" type='text/css' href='{{ url_for("static", filename="styles/styles.css") }}'/>{% endblock %}
{% block content %}
  <section id="centered">
      <h1> Manganimusic! </h1>
      <p> Bridging the gap from manga to anime! </p>

      <section id="horizontal">
        <input type="file" id="upload" name="upload" accept=".jpg, .jpeg, .png" multiple/>
        <h1 id="loading"> Loading... </h1>
      </section>

      <section id="horizontal">
        <button id="prev"> PREV </button>
        <button id="next"> NEXT </button>
      </section>
      
      <img src='' id="comic_page">
      <img src='' id="background">
  </section>
{% endblock %}
