
#centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;
}

#horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}